# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temp files
temp_files/
.DS_Store

# Docker
.dockerignore
Dockerfile

# pytest
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log 